<div class="tile tile-primary">
  <div class="tile-heading">{{ heading_title }} <span class="pull-right">
    {% if percentage > 0 %} 
    <i class="fa fa-caret-up"></i>
    {% elseif percentage < 0 %}
    <i class="fa fa-caret-down"></i>
    {% endif %}
    {{ percentage }}%</span></div>
  <div class="tile-body"><img src="image/shopping_cart.png" alt="shoping cart" class="shopping_cart_img"/>
    <h2 class="pull-right">{{ total }}</h2>
  </div>
  <div class="tile-footer"><a href="{{ order }}">{{ text_view }}</a></div>
</div>
